body {
    background-color: khaki;
}

/*styling for header of page*/
.header {
    position: fixed;
    width: 100%;
    height: 10%;
    text-align: center;
    background-color: #2c5e91 !important;
    color: white;
    top: 0%;
    left: 0%;
}

.pageBody {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
    height: 90%;
    top: 10%;
    left: 0%;
}

/*general styling*/
.hide {
  display: none !important;
}

.txt {
  font-family: Verdana, Geneva, sans-serif;
}

.lister {
    width: 100%;
    position: absolute;
    margin-top: 3%;
}

.create {
    width: 100%;
    text-align: center;
}

/*styling for error message*/
.errorMsg {
  position: absolute;
  margin-left: 30%;
  margin-top: 10%;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 3em;
}

#frame {
  width: 120px;
  height: 80px;
}